@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 273 85% 5%;
    --foreground: 0 0% 100%;

    --card: 272 22% 17%;
    --card-foreground: 45 100% 52%;

    --popover: 272 22% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 45 100% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 329 100% 55.0000%;
    --secondary-foreground: 0 0% 100%;

    --muted: 272 22% 17%;
    --muted-foreground: 270 4% 71%;

    --accent: 313 100% 64%;
    --accent-foreground: 0 0% 100%;

    --destructive: 22 19.1000% 70.4000%;
    --destructive-foreground: 248 0.3000% 98.4000%;

    --border: 237 100% 73%;
    --input: 0 0% 100%;
    --ring: 329 100% 55.0000%;

    --radius: 0.375rem;

    --sidebar-background: 273 60% 8%;

    --sidebar-foreground: 0 0% 95%;

    --sidebar-primary: 45 100% 52%;

    --sidebar-primary-foreground: 273 85% 5%;

    --sidebar-accent: 273 40% 15%;

    --sidebar-accent-foreground: 0 0% 100%;

    --sidebar-border: 273 40% 15%;

    --sidebar-ring: 45 100% 52%;

    --chart-1: 45 100% 52%;

    --chart-2: 329 100% 55%;

    --chart-3: 313 100% 64%;

    --chart-4: 237 100% 73%;

    --chart-5: 142 76% 36%;

    --sidebar: 273 60% 8%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0px 1px 1.5px 2px hsla(313, 100%, 64%, 0.5);

    --shadow: 0px 1px 3px 2px hsla(313, 100%, 64%, 0.5);

    --shadow-md: 0px 1px 4.5px 2px hsla(313, 100%, 64%, 0.5);

    --shadow-lg: 0px 1px 7.5px 2px hsla(313, 100%, 64%, 0.5);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 273 85% 5%;
    --foreground: 0 0% 100%;

    --card: 272 22% 17%;
    --card-foreground: 45 100% 52%;

    --popover: 272 22% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 45 100% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 329 100% 55.0000%;
    --secondary-foreground: 0 0% 100%;

    --muted: 272 22% 17%;
    --muted-foreground: 270 4% 71%;

    --accent: 313 100% 64%;
    --accent-foreground: 0 0% 100%;

    --destructive: 22 19.1000% 70.4000%;
    --destructive-foreground: 248 0.3000% 98.4000%;

    --border: 237 100% 73%;
    --input: 0 0% 100%;
    --ring: 329 100% 55.0000%;
    --sidebar-background: 273 60% 8%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 45 100% 52%;
    --sidebar-primary-foreground: 273 85% 5%;
    --sidebar-accent: 273 40% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 273 40% 15%;
    --sidebar-ring: 45 100% 52%;
    --chart-1: 45 100% 52%;
    --chart-2: 329 100% 55%;
    --chart-3: 313 100% 64%;
    --chart-4: 237 100% 73%;
    --chart-5: 142 76% 36%;
    --sidebar: 273 60% 8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 1px 1.5px 2px hsla(313, 100%, 64%, 0.5);
    --shadow: 0px 1px 3px 2px hsla(313, 100%, 64%, 0.5);
    --shadow-md: 0px 1px 4.5px 2px hsla(313, 100%, 64%, 0.5);
    --shadow-lg: 0px 1px 7.5px 2px hsla(313, 100%, 64%, 0.5);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
